<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>central</id>
            <username>gYLc8R</username>
            <password>gQukHJWlcDJinixGbFfkhR0Ukc39ZxJTj</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>central</id>
            <properties>
                <gpg.keyname>A99CE33F248522D8</gpg.keyname>
                <gpg.passphrase>12345</gpg.passphrase>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>central</activeProfile>
    </activeProfiles>
</settings>
